.footer {
  margin: 0 auto 24px;
}
.footer__copyrigth {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  line-height: 16px;
}

@media screen and (max-width: 544px) {
  .footer {
    line-height: 14px;
  }
}
