.photosGrid {
  margin: 118px auto 0;
  max-width: 1184px;
  width: 100%;
  padding: 0 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}
.photosGrid img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Used to make sure that the image will cover 100% of the grid */
}
@media screen and (max-width: 1024px) {
  .photosGrid {
    max-width: 720px;
    margin: 64px auto 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); /* will be 4 rows */
  }
}

@media screen and (max-width: 544px) {
  .photosGrid {
    max-width: 288px;
    margin: 38px auto 0;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, auto);
    row-gap: 12px;
    padding: 0 16px;
  }
}
