.places {
  max-width: 984px;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24ßpx;
  box-sizing: border-box;
}

.place {
  width: 100%;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(280px, 1fr) 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title heading"
    "image text"
    "button text";
}

.place__title {
  grid-area: title;
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
}

.place__header {
  grid-area: heading;
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: start;
  align-self: flex-end;
}
.place__heading {
  color: rgba(170, 170, 170, 1);
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.12em;
  margin-bottom: 8px;
}

.place__artist {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}
.citys {
  grid-area: image;
  width: 460px;
  height: 460px;
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
  transition: filter 0.3s ease;
}
.citys:hover {
  filter: brightness(50%); /* Darkens the image when the mouse hovers over it*/
}
.place__texts {
  grid-area: text;
  max-width: 100%;
}
.place__text {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  text-align: left;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 1);
}

.place__text:last-child {
  margin-bottom: 0;
}

.place__button {
  grid-area: button;
  max-width: 80%;
  font-size: 18px;
  font-family: Inter;
  width: 356px;
  height: max-content;
  font-weight: 600;
  line-height: 1.21;
  padding: 13px 20px 13px 20px;
  border-radius: 4px 0px 0px 0px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}
@media screen and (max-width: 1024px) {
  .places {
    margin: 88px auto 90px;
    padding: 0 24px;
  }
  .place {
    row-gap: 48px;
    margin: 0 auto 72px;
    column-gap: 28px;
  }
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
  .place__texts {
    font-size: 16px;
    line-height: 1.625;
  }
  .place__text {
    margin-bottom: 25px;
  }
  .place__header {
    width: 100%;
  }

  .place__artists {
    font-size: 18px;
    line-height: 1.22;
  }

  .citys {
    max-width: 100%;
    height: auto;
  }

  .place__button {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 544px) {
  .places {
    margin: 62px auto 0;
    padding: 0 16px;
  }
  .place {
    grid-template-columns: 1fr;

    grid-template-areas:
      "title"
      "heading"
      "image"
      "text"
      "button";
    row-gap: 30px;
  }
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    text-align: center;
  }
  .place__header {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .citys {
    max-width: 100%;
    height: auto;
  }
  .place__button {
    max-width: 100%;
    width: 100%;
  }
}
